{
  "log": { "loglevel": "warning" },
  "inbounds": [
    {
      "port": {{ xray_listen_port }},
      "protocol": "vless",
      "settings": {
        "clients": [
          { "id": "{{ xray_admin_uuid }}", "email": "admin" }
        ],
        "decryption": "none"
      },
      "streamSettings": {
        "network": "ws",
        "wsSettings": { "path": "{{ xray_ws_path }}" }
      }
    }
  ],
  "outbounds": [{ "protocol": "freedom" }]
}
