services:
  xray:
    image: {{ xray_image }}
    container_name: {{ xray_container_name }}
    restart: unless-stopped
    networks:
      - {{ traefik_network }}
    volumes:
      - {{ xray_compose_dir }}/config.json:/etc/xray/config.json:ro
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.xray.rule=Host(`{{ xray_domain }}`) && PathPrefix(`{{ xray_ws_path }}`)"
      - "traefik.http.routers.xray.entrypoints=websecure"
      - "traefik.http.routers.xray.tls=true"
      - "traefik.http.routers.xray.tls.certresolver=letsencrypt"
      - "traefik.http.services.xray.loadbalancer.server.port={{ xray_listen_port }}"

networks:
  {{ traefik_network }}:
    external: true
