services:
  traefik:
    image: "traefik:{{ traefik_version }}"
    container_name: traefik
    restart: unless-stopped
    command:
      - "--api.dashboard={{ traefik_dashboard | bool }}"
      - "--api.insecure={{ traefik_api_insecure | bool }}"
      - "--providers.docker=true"
      - "--providers.docker.exposedByDefault=false"
      - "--entryPoints.web.address=:80"
      - "--entryPoints.websecure.address=:443"
      - "--certificatesResolvers.letsencrypt.acme.email={{ traefik_cert_email }}"
      - "--certificatesResolvers.letsencrypt.acme.storage={{ traefik_acme_file }}"
      - "--certificatesResolvers.letsencrypt.acme.httpChallenge.entryPoint=web"
    ports:
{% for p in traefik_ports %}
      - "{{ p }}"
{% endfor %}
    volumes:
      - "{{ traefik_config_dir }}/traefik.yml:/etc/traefik/traefik.yml:ro"
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "{{ traefik_acme_file }}:{{ traefik_acme_file }}"
    networks:
      - {{ traefik_network }}

networks:
  {{ traefik_network }}:
    external: true
