accessLog: {}
api:
  dashboard: {{ traefik_dashboard | bool }}
  insecure: {{ traefik_api_insecure | bool }}

entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
  websecure:
    address: ":443"

providers:
  docker:
    exposedByDefault: false

certificatesResolvers:
  letsencrypt:
    acme:
      email: "{{ traefik_cert_email }}"
      storage: "{{ traefik_acme_file }}"
      httpChallenge:
        entryPoint: web
